.App {
  text-align: center;
}

.hidden {
  display: none;
}

canvas.plateCanvas {
	position: fixed;
	right: 0px;
	top: 25%;
}

canvas.workingCanvas {
	position: fixed;
	left: 0px;
	bottom: 0;
	border: 1px solid;
	z-index: 2;
	 border-radius: 14px;

}

div.polishesShelf {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 20%;
	  display: block;

}

div.hand {
	position: fixed;
	width: 50%;
	height: 60%;
	float: center;
	top: 20%;
	left: 25%;
	border: 1px solid;
}

.loginForm {
	bottom: 0;
	right:0;
	position: fixed;

}



















