.App {
  text-align: center;
}

.hidden {
  display: none;
}

/**************************************************************************************************************/
/************************************************* INTRO *********************************************************/
/**************************************************************************************************************/


div.intro {
	width: 100%;
	height: 100%;
	    animation: fadein 1s;

}

div.intro .loginForm {
	bottom: 15%;
	right:15%;
	position: fixed;
	  display: block;
  box-shadow: 10px 10px 5px grey;
      animation: fadein 1s;
      	 border-radius: 14px;

 	transform: translate3d(5px, 0, 0);
    transition: transform 1.1s cubic-bezier(0, .52, 0, 1);
}

.intro .wing_left {
	position: absolute;
	left: 1%;
	top: 10%;
	width: 8%;
	height: 13%;
	object-fit: fit;

	 -webkit-animation: wing_left_hover 1.5s 2 alternate; /* Safari, Chrome and Opera > 12.1 */
      animation: wing_left_hover 1.5s infinite alternate;
}
.intro .wing_right {
	position: absolute;
	left: 70%;
	top: 10%;
	width: 8%;
	height: 13%;
	object-fit: fit;

	 -webkit-animation: wing_right_hover 1.5s 2 alternate; /* Safari, Chrome and Opera > 12.1 */
      animation: wing_right_hover 1.5s infinite alternate;
}

div.intro .removed{
    transform: translate3d(70px, 0, 0);
    transition: transform 1.1s cubic-bezier(0, .52, 0, 1);
    animation: fadeout 1s;

}

/**************************************************************************************************************/
/************************************************* PROJECTS *********************************************************/
/**************************************************************************************************************/

div.Projects {
	width: 30%;
	height: 38%;
	border: 1px solid rgb(200, 200, 200);
	z-index: 20;
	 border-radius: 14px;
	 margin: 1%;
	   box-shadow: 10px 10px 5px grey;

	position: fixed;
	right: 7%;
	top:40%;
	overflow-y: scroll;

    /*transition: transform 2.1s cubic-bezier(0.55, 1.46, 0.55, 1.46);*/

 	-webkit-animation: slidein 1s cubic-bezier(0, 0.46, 0, 1); /* Safari, Chrome and Opera > 12.1 */
      animation: slidein 1s cubic-bezier(0, 0.46, 0, 1);

      background-color: white;

}


div.Projects .Project {
	width: 80%;
	height: 9%;
	border: 1px solid rgb(200, 200, 200);
	z-index: 2;
	 border-radius: 14px;
	 margin: 3%;
	 padding: 5%;
	box-shadow: 10px 10px 5px grey;
	 color: grey;
  text-shadow: 2px 2px 4px #000000;
    font-family: 'CharlotteScript';

   font-size: 2.5vw;

}
div.Projects .Project:hover{
		border: 1px solid rgb(120, 120, 120);


}

div.Projects .Project div.projectDelete {
	position: relative;
	right: -95%;
	top:-260%;
	border: 1px solid;
	width: 2vw;
	height: 2vw;

	 display: none;
	  -webkit-animation: fadein50 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein50 1s;

	background-image: url("./delete_icon.png");
	   background-size: contain;
    background-position: center;
    opacity: 0.5;


    /*z-index: 20;*/
	/*background-color: rgb(60, 200, 60);*/
	box-shadow: 5px 5px 3px grey;
	border-radius: 8px;
}

div.Projects .Project div.projectRename {
	position: relative;
	right: -95%;
	top:-255%;
	border: 1px solid;
	width: 2vw;
	height: 2vw;

	display: none;
	 -webkit-animation: fadein50 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein50 1s;
          opacity: 0.5;


background-image: url("./edit_icon.png");
   background-size: contain;
    background-position: center;


	/*color: rgb(60, 200, 60);*/
	background-color: rgb(60, 200, 60);;
	box-shadow: 5px 5px 3px grey;
	border-radius: 8px;
}

div.Project:hover div.projectDelete, div.Project:hover div.projectRename{
	 display: block;

}


/**************************************************************************************************************/
/************************************************* MAIN *********************************************************/
/**************************************************************************************************************/
div.rightPanel{
	position: fixed;
	right:10%;
	top: 31%;
	width: 20%;
	height: 70%;
	 display: block;
	 overflow: scroll;

	 /*border: 1px solid;*/
	
}
div.rightPanel  canvas.plateCanvas {
	position: relative;
	top: 1%;
	left: 0;
	
	box-shadow: 10px 10px 5px grey;
	border-radius: 30px;
	overflow-y: scroll; 

}
.cursor_icon{
	position: fixed;
	width: 4vw;
	height: 4vw;
	bottom: 1%;
	right: 18%;
	box-shadow: 10px 10px 5px grey;
	border-radius: 10px;
}



div.rightestPanel{
	position: fixed;
	right:1%;
	top: 31%;
	bottom: 1%;
	width: 9%;
	height: 70%;
	 display: block;
	 overflow: scroll;
	 border: 1px solid grey;
	 background-color: white;
	box-shadow: 10px 10px 5px grey;
	border-radius: 30px;
	overflow: scroll; 
}
div.rightestPanel div.platesShelf {
	position: absolute;
	left: 0px;
	top: 0%;
	width: 100%;
	height: 120vw;

	
	overflow: scroll; 
}

.platesShelf .plateImg {
	width: 5vw;
	height: 10vw;
	margin: 1vw;
}

.platesShelf .plateImg:hover {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 10px;

}

div.leftPanel {
	position: relative;
	left: 0px;
	top: 55%;
	height: 45%;
	/*border: 1px solid;*/
	width: 30%;
	display: block;
	overflow: hidden;
		 /*z-index: 19;*/
}


div.leftPanel canvas.workingCanvas {
	position: fixed;
	left: 3%;
	bottom: 5%;
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 10px 10px 5px grey;
	width: 10vw;
	 z-index: 20;

}

div.leftPanel div.stampingPolishes {


	position: fixed;
	left: 15%;
	width: 10vw;
	height: 14vw;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
	border-radius: 10%;
	
	border: 1px solid ;
	border-radius: 20px;
	box-shadow: 10px 10px 5px grey;

	bottom: 5%;
	width: 10vw;


}
div.leftPanel div.stampingPolishes:hover{

}
.cleanButton{
	position: fixed;
	/*display: inline-block;*/
	width: 4%;
	left: 17.5%;
	bottom: 4vw;
	height: 1.5vw;
	border: 1px solid;
	border-radius: 14px;
	margin-left: 0.5vw;

	text-align: center;
	justify-content: right;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
    z-index: 50;

}
 /*.eraserButton{
	position: fixed;
	width: 4%;
	left: 20%;
	bottom: 4vw;
	height: 1.5vw;
	border: 1px solid;
	border-radius: 14px;
	margin-left: 0.5vw;

	text-align: center;
	justify-content: right;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
    z-index: 50;
}
.eraserButton_pushed{
	position: fixed;
	width: 4%;
	left: 20%;
	bottom: 3.7vw;
	height: 1.5vw;
	border: 1px solid ;
	border-radius: 14px;
	margin-left: 0.5vw;

	text-align: center;
	justify-content: right;
    align-items: center;
    z-index: 50;

}*/


div.stampingPolishes .stampingPolish {
	position: relative;
	display: inline-block;
	top: 1vw;
	width: 2vw;
	height: 2vw;
	border: 1px solid rgb(180, 180, 180);
	border-radius: 14px;
	margin: 0.3vw;
}
 
div.stampingPolishes .stampingPolish:hover {
		border: 1px solid rgb(100, 100, 100);

}

div.polishesShelf {
	position: fixed;
	left: 8.5vw;  /* (100 - 12*6 - 11) /2 */
	top: 1vw;
	width: 100%;
	height: 29.5vh;
	 display: block;
	 overflow: hidden;
	 /*border: 1px solid grey;*/


}

div.polishesShelf .polishImg {
	width: 6vw;
	height: 28vh;
	 overflow: hidden;
	 /*border: 1px solid grey;*/
	 	/*float:center;*/
	 bottom: 0;
	float:left;
	margin-right: 1vw;

}
div.polishesShelf .polishImg:hover {
	
	 -webkit-animation: bigin 1.5s 2 alternate; /* Safari, Chrome and Opera > 12.1 */
      animation: bigin 1.5s 2 alternate;


}
	

div.hand {
	position: fixed;
	z-index: 10;
	overflow: hidden;

  	height: 50%;
  	top: 60%;   /* top - half of its height = 60 - (50 - 25) would be the real top*/
  	left: 50%;
	transform: translate(-50%, -50%);

	/*border: 1px solid;*/
	border-radius: 50%;
	box-shadow: 10px 10px 5px grey;
}

div.hand:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/*div.hand:hover {
	height: 100vh;
	width:100vh;
}*/

div.finger_chose_panel{
	width:40%;
	height: 15%;
	/*border: 1px solid;*/
	z-index: 20;
	bottom: 0;
	right: 30%;
	position: fixed;
	float:center;
	/* display: block;*/
}

div.finger_chose_panel .finger_btn, div.finger_chose_panel .finger_btn_chosen  {
	width: 9%;
	height: 80%;
	border: 1px solid grey;
	z-index: 20;
	bottom: 0;
	float:left;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	margin: 2%;
	margin-left: 7%; 

	overflow: hidden;

	display: flex;
    justify-content: center;
    align-items: center;
}

div.finger_chose_panel .finger_btn  {
	box-shadow: 10px 10px 5px grey;

}
div.finger_chose_panel .finger_btn:hover  {
		border: 1px solid black;

}
div.finger_chose_panel .finger_btn_chosen  {
	box-shadow: 10px 10px 5px black;
			border: 1px solid black;

	/*-webkit-animation: finger_bigin 1.5s 2 alternate;  Safari, Chrome and Opera > 12.1 
      animation: finger_bigin 1.5s 2 alternate;
*/

}

.finger_btn img, .finger_btn_chosen img {
   object-fit: contain;
   /*width: 100%;*/
   height: 100%;
}


/**************************************************************************************************************/
/************************************************* FLOURISH *********************************************************/
/**************************************************************************************************************/

.bg_florish_right{
	position: absolute;
	height: 37%;

	z-index: -10;
	left: 0;
	width: 11.5%;
}


.bg_florish_left{
	position: absolute;
	height: 37%;

	z-index: -10;
	right: 0;
	width: 11.5%;
}

.bg_florish_center_right{
	position: absolute;
	height: 37%;

	z-index: -10;
	left: 30%;
	top: 30%;
	width: 11.5%;
}


.bg_florish_center_left{
	position: absolute;
	height: 37%;

	z-index: -10;
	right: 30%;
	top: 30%;

	width: 11.5%;
}

.bg_florish_center_down_right{
	position: absolute;
	height: 15%;

	z-index: -10;
	left: 35%;
	top: 66%;
	width: 5%;
}


.bg_florish_center_down_left{
	position: absolute;
	height: 15%;

	z-index: -10;
	right: 35%;
	top: 66%;

	width: 5%;
}

/*.bg_florish_center_right {
  width: 182px;
  height: 287px;
  margin: 5px ;
  background: url('./spritesheet.png') left center; 

      -webkit-transition : all 4.4s ease;
      
   transition : all 4s ease;

  animation: play 5.8s steps(9) infinite;
}

@keyframes play {
    100% { background-position: -1733px; }

}*/

/**************************************************************************************************************/
/************************************************* General Managing *********************************************************/
/**************************************************************************************************************/
.projectPanel{
	position: fixed;
	left: 0px;
	top: 35%;
	height: 25%;
	border: 1px solid grey;
	width: 30%;


    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
      box-shadow: 10px 10px 5px grey;
	border-radius: 20px;
	   background-color: rgb(220, 220, 220);

}

.projectPanel .projectImg  {
	position: fixed;
	left: 15%;
	width: 10vw;
	height: 10vw;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
	border-radius: 10%;
	/*z-index: 125;*/
}
/*.projectPanel .projectImg  {
	position: fixed;
	left: 15%;
	width: 10vw;
	height: 10vw;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
	border-radius: 10%;

}
*/
.projectImg img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.projectPanel input {
	display: block;
	position: absolute;
   width: 35%;
   height: 8%;
      right: 15%;
      bottom: 4%;
      box-shadow: 10px 10px 5px grey;
	border-radius: 10px;

}
.projectPanel .hidden{

	display: none;

}

.projectPanel  .projectButtonsPanel{
	position: fixed;
	left: 3%;
	width: 10vw;
	height: 12vw;
    overflow: hidden;
    top:38%;
    /*box-shadow: 10px 10px 5px grey;*/
	/*border-radius: 10%;*/
}

.projectButtonsPanel .toProjects, .logout, .save  {
	width: 70%;
	height: 12%;
	border: 1px solid rgb(200, 200, 200);
	z-index: 20;

	position: relative;
	left: 15%;
	
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
	border-radius: 20px;
	margin-bottom: 10%;

	color: black;
  text-shadow: 2px 2px 4px #000000;
   font-size: 1vw;
   background-color: white;
}

.toProjects:hover, .logout:hover, .save:hover {
		border: 1px solid black;

}

.projectButtonsPanel .save{
	margin-top: 25%;
}
.projectPanel .projectName{
	width: 50%;
	height: 15%;
	z-index: 20;

	position: relative;
	left: 1%;
	top: -37%;
	
   
	color: black;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'CharlotteScript';
   font-size: 2.5vw;

}

/**************************************************************************************************************/
/************************************************* FONTS AND ANIMATION *********************************************************/
/**************************************************************************************************************/


@font-face {
font-family: "CharlotteScript";
src: url("./CharlotteScript.ttf");
src: url("./CharlotteScript.otf") format("opentype"),
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
    from { top: 100%; }
    to   { top: 40%; }
}

@keyframes fadein50 {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


@keyframes bigin {
    from { height: 28vh;width: 6vw; }
    to   { height: 29.5vh; width: 6.5vw;}
}

@keyframes finger_bigin {
    from { height: 80%;width: 9%; }
    to   { height: 81%; width: 10%;}
}

@keyframes wing_left_hover {
    from { top: 10%;}
    to   { top: 11%; }
}
@keyframes wing_right_hover {
    from { top: 10%;}
    to   { top: 9%; }
}




/**************************************************************************************************************/
/*************************************************  *********************************************************/
/**************************************************************************************************************/




